<h1 class="text-primary">Editing list</h1>

<%= render 'form' %>

<%= link_to 'Show', @list, :class=>"btn btn-primary btn-md active", :role=>"button" %> |
<%= link_to 'Back', lists_path, :class=>"btn btn-primary btn-md active", :role=>"button" %>
