<p id="notice" class="bg-success"><%= notice %></p>


<%= link_to 'Edit', edit_list_task_path(@list, @task), :class=>"btn btn-primary btn-md active", :role=>"button" %> |
<%= link_to 'Back', list_tasks_path(@list), :class=>"btn btn-primary btn-md active", :role=>"button" %>
